* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Rubik Mono One", sans-serif;
}

.sneaker {
	position: relative;
	height: 100vh;
	width: 100vw;
	text-align: center;
}

.sneaker img {
	width: 800px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -60%);
}

.sneaker .desc {
	width: 750px;
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 48px;
}

.sneaker.white .desc {
	color: #fff;
}

.sneaker.blue .desc {
	color: yellow;
}
.sneaker.blue {
	background-color: #189;
}

.sneaker.white {
	background-color: #152;
}

.sneaker.converse {
	background-color: #517;
}
